<!DOCTYPE html>
<html>
<head>
<style>
    html {
        font-family: "Times New Roman";
        font-size: 16px;
    }
    @media screen {
        body {
            width: 8.5in;
            height: 11in;
            padding: 1in;
            margin: 0;
            border: 2px solid;
        }
    }
    @media print {
        body {
            width: auto;
            height: auto;
            padding: 0;
            border: 0;
        }
    }
    @page {
        margin: 1in;
    }
    label {
        font-size: 18px;
    }
</style>
</head>
<body>
    <div>

    <h1>BRGY. CLEARANCE</h1>
    <p style="font-size: 1.25rem">TO WHOM IT MAY CONCERN</p>
    <p style="text-align: justify;">This is to certify that <strong><u>{{fullName}}</u></strong> of legal age born {{birthDate}}, {{civilStatus}} Filipino is a bonafide resident of {{address}} Barangay 724 Zone 79, District V. Manila.</p>
    <p style="text-align: justify;">This further certifies that {{pronoun}} is known to be of good moral character and a law-abiding citizen of this barangay.</p>
    <p style="font-size: 1.25rem;"> Issued and signed this {{signDay}} day of {{signMonth}}, {{signYear}}.</p>
    <br><br><br><br>
    <div style="display: inline-block; min-width: 30%; border-bottom: 2px solid; margin-bottom: 0.5rem; padding-right: 2rem;">
        <span id="signee-underline" style="font-family: Times New Roman; font-weight: bold; font-size: 1.25rem;">{{chairName}}</span>
    </div>
    <br>
    <label for="signee-underline">Punong Barangay</label>


    </div>
</body>
</html>
