<div id="mainView">
    <nav id="mainNav">
        <div class="app-brand">Barangay 724 BMIS</div>
        <div class="sub-main-nav sub-main-nav--primary">
            <ul>
                <li class="sub-main-nav-li"><button id="home" class="sub-main-nav-a" type="button"><img
                            src="../assets/icons/mainNav/home.svg" alt="" class="main-nav-icon">Home</button></li>
                <li class="sub-main-nav-li"><button id="inhabitantList" class="sub-main-nav-a" type="button"><img
                            src="../assets/icons/mainNav/inhabitantsList.svg" alt="" class="main-nav-icon">Residents</button>
                </li>
                <li class="sub-main-nav-li"><button id="templates" class="sub-main-nav-a" type="button"><img
                            src="../assets/icons/mainNav/templates.svg" alt="" class="main-nav-icon">Document Requests</button>
                </li>
                <li class="sub-main-nav-li"><button id="incidents" class="sub-main-nav-a" type="button"><img
                            src="../assets/icons/blotter-cases.svg" alt="" class="main-nav-icon">Blotter & Cases</button></li>
                <li class="sub-main-nav-li"><button id="history" class="sub-main-nav-a" type="button"><img
                            src="../assets/icons/mainNav/history.svg" alt="" class="main-nav-icon">Activity Log</button></li>
            </ul>
        </div>
        <div class="sub-main-nav sub-main-nav--account">
            <ul>
                <li class="sub-main-nav-li account-profile">
                    <span id="accountProfileName">User</span>
                    <strong id="accountProfileRole">Admin</strong>
                </li>
                <li class="sub-main-nav-li"><button id="settings" class="sub-main-nav-a" type="button"><img
                            src="../assets/icons/mainNav/settings.svg" alt="" class="main-nav-icon">Settings</button></li>
                <li class="sub-main-nav-li"><button id="logout" class="sub-main-nav-a" type="button"><img
                            src="../assets/icons/mainNav/logout.svg" alt="" class="main-nav-icon">Logout</button></li>
            </ul>
        </div>
    </nav>
    <main id="mainBody">
        <!-- switch views here! -->
    </main>
    <dialog id="settingsDialog" class="settings-dialog-compat" aria-hidden="true">
        <div id="settingsHeader">
            <h3>Settings</h3>
            <button class="closeBtn" type="button">&times;</button>
        </div>
    </dialog>
</div>
