<div id="loginView">
    <img id="brgyLogo" src="../assets/icons/login/brgy-logo.jpg" alt="Barangay 724 logo">
    <h1>Barangay 724 <br> Malate, Manila <br> BIMS</h1>
    <span id="loginErrorMessage"></span>
    <form id="loginForm">
        <div class="input-group">
            <label for="usernameInput">
                <img id="usernameIcon" src="../assets/icons/login/circle-user.svg" alt="User icon">
            </label>
            <input id="usernameInput" type="text" placeholder="Enter username" name="username" required>
        </div>
        <div class="input-group">
            <label for="passwordInput">
                <img id="passwordIcon" src="../assets/icons/login/lock.svg" alt="Password icon">
            </label>
            <input id="passwordInput" type="password" placeholder="Enter password" name="password" required>
        </div>
        <button id="loginButton" type="submit">Login</button>
    </form>
</div>
